<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Test</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  
  <servlet>
  	<servlet-name>home</servlet-name>
  	<servlet-class>test.MainPage</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>home</servlet-name>
  	<url-pattern>/home</url-pattern>
  </servlet-mapping>
  <filter>
  	<filter-name>filter1</filter-name>
  	<filter-class>test.Filter1</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>filter1</filter-name>
  	<url-pattern>/home</url-pattern>
  </filter-mapping>
  <filter>
  	<filter-name>filter2</filter-name>
  	<filter-class>test.Filter2</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>filter2</filter-name>
  	<url-pattern>/home</url-pattern>
  </filter-mapping>
  
  <context-param>
  	<param-name>hari</param-name>
  	<param-value>hari</param-value>
  </context-param>
  <context-param>
  	<param-name>hari1</param-name>
  	<param-value>hari</param-value>
  </context-param>
  <error-page>
  	<error-code>404</error-code>
  	<location>/error.html</location>
  </error-page>
  <error-page>
  	<exception-type>java.lang.Exception</exception-type>
  	<location>/exception.html</location>
  </error-page>
  
  <listener>
  	<listener-class>test.Listener1</listener-class>
  </listener>
  
  
  
</web-app>